.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 30px;
    background:  #ff7b00;
    border-radius: 10px;
  }
  
  /* Estilos para cada contenedor de item */
  .galeria-item {
    position: relative;
    width: 270px;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background: #fff;
  }
  
  /* Efecto de hover para el contenedor de cada item */
  .galeria-item:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
  }
  
  /* Estilos para las imágenes */
  .galeria-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  /* Estilos para el contenedor de texto */
  .galeria-texto {
    padding: 15px;
    text-align: center;
    background: linear-gradient(135deg, #f03000, #fcf000);
    color: #000000;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  /* Estilos para el nombre del plato */
  .galeria-texto h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  /* Estilos para el precio */
  .galeria-texto p {
    margin: 5px 0 0;
    font-size: 1em;
  }
  
  /* Estilos para el título de la galería */
  .galeria-titulo {
    text-align: center;
    font-size: 2.5em;
    margin: 20px;
    color: #fb7900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .galeria-item {
      width: 100%;
    }
  }